:root {
  --darkgray: #2B2D31;
  --darkbg: #151619;
  --lightgray: #F5F5F5;
  --lmodeFont: #35393F;
  --grayFont: #7C8187;
  --orange: #E46643;
  --lightorange: #F39765;
  --blackish: #1D1F22;
  --middlegray: #E4E4E4;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto';
  overflow-y: hidden;
}

#root {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

button {
  border: none;
  font-family: 'Roboto';
}

/* LEFT MENU */

.left-menu-cont {
  background-color: var(--blackish);
  width: 15vw;
  min-width: 250px;
  height: 98vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: hidden;
  transition: 1s ease;
}

h2 {
  color: #35393F;
  font-size: 14px;
}

.add-new-btn {
  background-color: var(--orange);
  color: white;
  height: 40px;
  width: 150px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;

}

.add-new-btn:hover {
  background-color: var(--lightorange);
}

.file {
  color: white;
  cursor: pointer;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  margin: 10px;

  p {
    color: var(--grayFont);
    font-weight: 300;
  }

  h3 {
    font-weight: 400;
  }
}

.file h3,
.file p {
  margin: 0;
}

.file:hover {
  h3 {
    color: var(--orange);
  }
}

.theme-switch {
  margin-inline: auto;
  margin-top: auto;
}

/* .file h3::after {
  content: ".md";
} */

/* HEADER CONTROLS */

header {
  background-color: var(--darkgray);
  color: white;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  height: 72px;
}

h1 {
  margin-left: 15px;
  font-size: large;
}

.horizontal-line {
  border-left: 1px solid #5A6069;
  height: 60%;
}

.header-btn {
  height: 30px;
}

.file-name-div {
  display: flex;
  align-items: center;
  gap: 20px;

  p {
    color: var(--grayFont);
    margin: 0;
  }

  input {
    margin: 0;
    width: 300px;
    background-color: var(--darkgray);
    border: none;
    color: white;
    font-family: 'Roboto';
  }

  input:focus {
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
    outline: none;
  }
}

.left-menu-btn {
  background-color: var(--lmodeFont);
  height: 100%;
  width: 72px;
}

.delete-file-btn {
  background-color: var(--darkgray);
  margin-left: auto;
}

.delete-file-btn:hover {
  svg path {
    fill: var(--orange);
  }
}

.save-changes-btn {
  background-color: var(--orange);
  color: white;
  border-radius: 4px;
  height: 50%;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  margin-right: 20px;
}

.save-changes-btn:hover {
  background-color: var(--lightorange);
}

/* MAIN CONTAINER */

.main-cont {
  display: flex;
  height: 80%;
  flex-direction: column;
  background-color: aqua;
  width: 100%;
}

pre {
  background-color: var(--lightgray);
  color: #35393F;
  width: 100%;
  height: fit-content;
  padding: 24px;
}

.gray-title {
  background-color: var(--lightgray);
  color: var(--grayFont);
  font-family: 'Roboto';
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky !important;
  top: 0 !important;

  p {
    margin: 0;
    margin-left: 10px;
  }
}

.eye-btn {
  background-color: var(--lightgray);
  margin-right: 10px;
}

code {
  color: #35393F;
  font-weight: 600;
}

.text-contents {
  gap: 2px;
  background-color: var(--middlegray);
  display: flex;
  flex-direction: row;
}

.left-area,
.right-area {
  background-color: white;
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
  padding-bottom: 150px;
}

.right-area {
  font-family: 'Roboto Slab';
}

textarea {
  width: 95%;
  height: 80vh;
  resize: none;
  border: none;
  font-family: 'Roboto Mono';
  padding: 20px;
  overflow-y: scroll;
}

textarea:focus {
  outline: none;
}

.area {
  overflow: hidden;
}

.output-preview {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 20px;
  padding: 20px;
  height: 80vh;

  * {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 100%;
  }

  h1 {
    font-size: 32px;
    font-weight: 700;
  }

  h2 {
    font-size: 28px;
    font-weight: 400;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
  }

  h5 {
    font-size: 20px;
    font-weight: 700;
  }

  h5 {
    font-size: 16px;
    font-weight: 700;
  }

  h6 {
    color: var(--orange);
    font-size: 14px;
    font-weight: 700;
  }

  p,
  li {
    color: var(--grayFont);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

  }

  li::marker {
    color: var(--orange);
  }

}

blockquote {
  background-color: var(--lightgray);
  border-radius: 4px;
  border-width: 0 0 0 4px;
  border-style: solid;
  border-color: var(--orange);
  padding-inline: 30px;
  padding: 5px 10px 5px 20px;
  margin: 0;

  a,
  p {
    color: #35393F;
    font-family: 'Roboto Slab';
    font-weight: 700 !important;
  }
}

/* dialog */

.delete-dialog {
  width: 340px;
  height: 250px;
  border-radius: 4px;
  border: none;
  font-family: 'Roboto Slab';

  h4 {
    font-weight: 700;
    font-size: 20px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    color: var(--grayFont);
  }

  button {
    background-color: var(--orange);
    color: white;
    font-family: 'Roboto';
    width: 100%;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-weight: 400;
  }
}

dialog::backdrop {
  background-color: var(--darkbg);
  opacity: 50%;
}

/* themes */

.light-theme {
  background-color: white;
}

::-webkit-scrollbar {
  display: none;
}

.dark-theme {
  background-color: var(--darkbg);
  color: white;


  .right-area,
  .left-area {
    background-color: var(--darkbg);
    color: white;
  }

  textarea {
    background-color: var(--darkbg);
    color: #C1C4CB;
  }

  .markdown-title,
  .gray-title,
  .delete-dialog {
    background-color: var(--blackish);
  }

  .text-contents {
    background-color: #5A6069;
  }

  .output-preview {
    h2 {
      color: #fff;
    }
  }

  .delete-dialog {
    h4 {
      color: white;
    }

    p {
      color: #C1C4CB;
    }
  }

  .delete-dialog::backdrop {
    background-color: var(--grayFont);
    opacity: 50%;
  }

  blockquote,
  pre {
    background-color: var(--darkgray);
    color: #fff;
  }
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

.nodisplay-desktop {
  display: none;
}

.markdown-title {
  .eye-btn {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  body {
    width: 100vw;
  }

  .user-input {
    margin: 0;

    textarea {
      /* padding: 20; */
      padding-inline: 10px !important;
    }
  }

  h1,
  .horizontal-line,
  .file-name-input p {
    display: none;
  }

  .markdown-title {
    .eye-btn {
      display: inherit;
    }
  }

  .file-name-div {
    gap: 10px;
  }

  .file-name-input {
    width: 100px;
  }

  .save-changes-btn {
    width: 40px;

    p {
      display: none;
    }
  }

  .nodisplay {
    display: none;
  }

  .visible {
    display: block;
  }
}

@keyframes rotate {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {

  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked+.slider {
  background-color: #183153;
}

.input:focus+.slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked+.slider:before {
  transform: translateX(30px);
}