:root {
  --darkgray: #2B2D31;
  --darkbg: #151619;
  --lightgray: #F5F5F5;
  --lmodeFont: #35393F;
  --grayFont: #7C8187;
  --orange: #E46643;
  --lightorange: #F39765;
  --blackish: #1D1F22;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto';
}

#root {
  display: flex;
  flex-direction: row;
}

button {
  border: none;
  font-family: 'Roboto';
}

/* LEFT MENU */

.left-menu-cont {
  background-color: var(--blackish);
  width: 250px;
  height: 100vh;
}

.add-new-btn {
  background-color: var(--orange);
  color: white;
}

.file {
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.file h3 {
  margin: 0;
}

.file h3:hover {
  color: var(--orange);
}

/* .file h3::after {
  content: ".md";
} */

/* HEADER CONTROLS */

header {
  background-color: var(--darkgray);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
}

.header-btn {
  height: 30px;
}

.left-menu-btn {
  background-color: var(--lmodeFont);
  height: 100%;
  width: 10vh;
}

.delete-file-btn {
  background-color: var(--darkgray);
}

.save-changes-btn {
  background-color: var(--orange);
  color: white;
}

/* MAIN CONTAINER */

.main-cont {
  display: flex;
  height: 80%;
  flex-direction: column;
  background-color: aqua;
  width: 100%;
}

.text-contents {
  gap: 5px;
  background-color: rgb(193, 193, 193);
  display: flex;
  flex-direction: row;
}

.left-area, .right-area {
  background-color: white;
  width: 100%;
  height: 90vh;
}

.right-area {
  font-family: 'Roboto Slab';
}

textarea {
  width: 99%;
  height: 90vh;
  resize: none;
  border: none;
  font-family: 'Roboto Mono';
}

textarea:focus {
  border: none;
}

/* themes */

.light-theme {
  background-color: white;
}

.dark-theme {
  background-color: black;
}