:root {
  --darkgray: #2B2D31;
  --darkbg: #151619;
  --lightgray: #F5F5F5;
  --lmodeFont: #35393F;
  --grayFont: #7C8187;
  --orange: #E46643;
  --lightorange: #F39765;
  --blackish: #1D1F22;
  --middlegray: #E4E4E4;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto';
}

#root {
  display: flex;
  flex-direction: row;
}

button {
  border: none;
  font-family: 'Roboto';
}

/* LEFT MENU */

.left-menu-cont {
  background-color: var(--blackish);
  width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

h2 {
  color: var(--grayFont);
  font-size: 14px;
}

.add-new-btn {
  background-color: var(--orange);
  color: white;
  height: 40px;
  width: 150px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;

}

.add-new-btn:hover {
  background-color: var(--lightorange);
}

.file {
  color: white;
  cursor: pointer;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  margin:10px;
  p {
    color: var(--grayFont);
    font-weight: 300;
  }
  h3 {
    font-weight: 400;
  }
}

.file h3, .file p {
  margin: 0;
}

.file:hover {
  h3 {
    color: var(--orange);
  }
}

.theme-switch {
  margin-top: auto;
}

/* .file h3::after {
  content: ".md";
} */

/* HEADER CONTROLS */

header {
  background-color: var(--darkgray);
  color: white;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  height: 72px;
}

h1 {
  margin-left: 15px;
  font-size: large;
}

.horizontal-line {
  border-left: 1px solid #5A6069;
  height: 60%;
}

.header-btn {
  height: 30px;
}

.file-name-div {
  display: flex;
  align-items: center;
  gap: 20px;

  p {
    color: var(--grayFont);
    margin: 0;
  }

  input {
    margin: 0;
    width: 300px;
    background-color: var(--darkgray);
    border: none;
    color: white;
    font-family: 'Roboto';
  }

  input:focus {
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
    outline: none;
  }
}

.left-menu-btn {
  background-color: var(--lmodeFont);
  height: 100%;
  width: 72px;
}

.delete-file-btn {
  background-color: var(--darkgray);
  margin-left: auto;
}

.delete-file-btn:hover {
  svg path {
    fill: var(--orange);
  }
}

.save-changes-btn {
  background-color: var(--orange);
  color: white;
  border-radius: 4px;
  height: 50%;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  margin-right: 20px;
}

.save-changes-btn:hover {
  background-color: var(--lightorange);
}

/* MAIN CONTAINER */

.main-cont {
  display: flex;
  height: 80%;
  flex-direction: column;
  background-color: aqua;
  width: 100vw;
}

.gray-title {
  background-color: var(--lightgray);
  color: var(--grayFont);
  font-family: 'Roboto';
  height: 5vh;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    margin: 0;
    margin-left: 10px;
  }
}

.eye-btn {
  background-color: var(--lightgray);
  margin-right: 10px;
}

.text-contents {
  gap: 5px;
  background-color: var(--middlegray);
  display: flex;
  flex-direction: row;
}

.left-area,
.right-area {
  background-color: white;
  width: 100%;
  height: 90vh;
}

.right-area {
  font-family: 'Roboto Slab';
}

textarea {
  width: 95%;
  height: 85vh;
  resize: none;
  border: none;
  font-family: 'Roboto Mono';
}

textarea:focus {
  outline: none;
}

.output-preview {
  padding-left: 20px;

  blockquote {
    background-color: var(--lightgray);
    border-radius: 4px;
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: var(--orange);
    padding-inline: 30px;
    padding: 5px 10px 5px 20px;
    margin: 0;
    font-family: 'Roboto Slab';
    font-weight: 700;
  }

  h1, h2, h3, h4 {
    margin: 0;
  }
}

/* themes */

.light-theme {
  background-color: white;
}

.dark-theme {
  background-color: black;
}